*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato';
}
body{
    max-width: 1020px;
    margin: 0 auto;
}
.portfolio{
    max-width: 1020px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 68px;
    background-color: #2d303a;
    padding-bottom: 67px ;
}
.portfolio h2{
    margin-bottom: 33px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    text-shadow: 0 0 1px #d1d3dc, 1px 0px 1px d1d3dc;
}
.portfolio p{
    margin-bottom: 16px ;
    width: 940px;
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    text-shadow: 1px 0px 1px #373a47;
}
.port_tags{
    margin-bottom: 19px;
    color: #767E9E;
    cursor: pointer;
    height: 25px;
}
span.tag{
    border: 1px solid #666d89;  
    margin-right: 8px;
    border-radius: 5px; 
    padding: 4px 6px;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}
span.tag:hover{
    color: #FFFF;
    border: 1px solid #FFFF;
}
.port_pics{
    margin: 0 auto;
    width: 940px;  
}
.port_pics .row{
   display: flex; 
   margin-bottom: 18px;
   align-items: center;
   overflow: hidden;
}
.port_pics .column + .column {
    margin-left: 20px;
}
.port_pics .column{
    width: 220px;
    overflow: hidden;
}
div.portfolio-line{
    height: 6px;
    background-color: #323746;
    max-width: 1020px;
}
.about_us{
    max-width: 1020px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f2f2f2;
    display: flex;
    padding-top: 66px;
    padding-bottom: 68px;
}
.about_us .row{
    display: flex;
    overflow: hidden;
}
    
.about_us h2{
    margin-bottom: 33px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    text-shadow: 1px 0px 1px #d1d3dc;
}
p.about-us {
    margin-bottom: 49px ;
    width: 940px;
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    text-shadow: 1px 0px 1px #d1d3dc;
}
.about_us h4{
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    text-shadow: 1px 0px 1px #d1d3dc;
}
p.about_col{
    width: 300px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-shadow: 1px 0px 1px #d1d3dc;
}
.about_us .col{
    width: 300px;
    overflow: hidden;
}
.about_us .col + .col{
    margin-left: 20px;
}
.about_us .about-img{
    margin-bottom: 18px;
}

.about_us .icon{
    margin-top: 27px;
    display: flex;
}

.icon a{
  width: 32px;
  height: 32px;
  border-radius: 50%;  
  border: 1px solid #666d89;
  text-align: center;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666d89;
}
div.about-line {
    height: 6px;
    background-color: #ffffff;
    max-width: 1020px;
}





















.a{
    border: 1px solid red;
}